<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head"></head>
<body>
<div th:replace="fragments::menu"></div>
<div class="p-3 h3">Dodaj nowy przepis</div>
<form class="wm-8" th:action="@{/dodaj}" th:object="${recipe}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Nazwa przepisu</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="category">Kategoria</label>
        <select th:field="*{category}" id="category" class="form-control" name="category" required>
            <option value="">Wybierz kategorię</option>
            <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.name}">Nazwa kategorii</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description">Przepis</label>
        <textarea th:field="*{description}" class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group input-group">
        <label for="file">Ilustracja do przepisu</label>
        <input type="file" name="fileupload" class="form-control" id="file">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
</form>
<div th:replace="fragments::scripts"></div>
</body>
</html>
